/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-magenta-700: 300 43% 22%;
  --clr-pink-300: 333 80% 67%;

  /* NEUTRAL */

  --clr-magenta-400: 303 10% 53%;
  --clr-magenta-50: 300 24% 96%;
  --clr-white: 0, 0%, 100%;

  /* FONT */
  --ff-sans: 'League Spartan', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
