/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-magenta-700: 300 43% 22%;
  --clr-pink-300: 333 80% 67%;

  /* NEUTRAL */

  --clr-magenta-400: 303 10% 53%;
  --clr-magenta-50: 300 24% 96%;
  --clr-white: 0, 0%, 100%;

  /* FONT */
  --ff-sans: 'League Spartan', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* UTILS */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* BASE */

body {
  font-family: var(--ff-sans);
}

.container {
  width: 100%;
  max-width: 30em;
  margin-inline: auto;
}

/* MAIN */

main {
  min-height: 100vh;
  position: relative;
  padding: 5.125em 1.5em 6.1875em;
}

main::before,
main::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main::before {
  top: 0;
  left: 0;
  background: url('./images/bg-pattern-top-mobile.svg') no-repeat;
}

main::after {
  bottom: 0;
  right: 0;
  background: url('./images/bg-pattern-bottom-mobile.svg') no-repeat bottom
    right;
}

/* INFO SECTION */

.info {
  margin-bottom: 2.4375em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  line-height: 0.8;
  letter-spacing: -0.035em;
  color: hsl(var(--clr-magenta-700));
}

.desc {
  font-size: 1.1875rem;
  line-height: 1.3;
  letter-spacing: -0.026em;
  margin-top: 1.21em;
  color: hsl(var(--clr-magenta-400));
}

/* RATINGS SECTION */

.ratings {
  margin-bottom: 3.0625em;
}

.ratings__item {
  background-color: hsl(var(--clr-magenta-50));
  margin-bottom: 1em;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.ratings__stars {
  display: flex;
  gap: 0.5em;
}

.ratings__text {
  font-size: 1.0625rem;
  font-weight: var(--fw-medium);
  color: hsl(var(--clr-magenta-700));
}

/* REVIEWS SECTION */

.reviews__item {
  background-color: hsl(var(--clr-magenta-700));
  color: hsl(var(--clr-magenta-50));
  margin-bottom: 1em;
  padding: 2.5em 2em 2em;
  border-radius: 0.5em;
}

.reviews__item:last-of-type {
  margin-bottom: 0;
}

.reviews__user {
  display: flex;
  align-items: center;
  gap: 1.44em;
  margin-bottom: 1.69em;
}

.reviews__user-img-wrapper {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__user-name {
  font-size: 1.0625rem;
}

.reviews__user-status {
  font-weight: var(--fw-medium);
  letter-spacing: 0.0219em;
  color: hsl(var(--clr-pink-300));
  margin-top: 0.3125em;
}

.reviews__text {
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: -0.0088em;
}

@media screen and (min-width: 23.5em) {
  main::before {
    background-image: url('./images/bg-pattern-top-desktop.svg');
  }

  main::after {
    background-image: url('./images/bg-pattern-bottom-desktop.svg');
  }
}
