/* VARIABLES */

:root {
  /* COLORS */

  /* PRIMARY */

  --clr-magenta-700: 300 43% 22%;
  --clr-pink-300: 333 80% 67%;

  /* NEUTRAL */

  --clr-magenta-400: 303 10% 53%;
  --clr-magenta-50: 300 24% 96%;
  --clr-white: 0, 0%, 100%;

  /* FONT */
  --ff-sans: 'League Spartan', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* UTILS */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* BASE */

body {
  font-family: var(--ff-sans);
  padding: 5.125em 1.5em 6.1875em;
}

.container {
  width: 100%;
  max-width: 20.4375em;
  margin-inline: auto;
}

/* MAIN */

/* INFO SECTION */

.info {
  margin-bottom: 2.4375em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  line-height: 0.8;
  letter-spacing: -0.035em;
  color: hsl(var(--clr-magenta-700));
}

.desc {
  font-size: 1.1875rem;
  line-height: 1.3;
  letter-spacing: -0.026em;
  margin-top: 1.21em;
  color: hsl(var(--clr-magenta-400));
}

/* RATINGS SECTION */

.ratings {
  margin-bottom: 3.0625em;
}

.ratings__item {
  background-color: hsl(var(--clr-magenta-50));
  margin-bottom: 1em;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.ratings__stars {
  display: flex;
  gap: 0.5em;
}

.ratings__text {
  font-size: 1.0625rem;
  font-weight: var(--fw-medium);
  color: hsl(var(--clr-magenta-700));
}
